<!-- views/nav.ejs -->
<nav class="navbar navbar-default">

  <div class="navbarContainer">
    <div class="navbar-header">

      <div class="navbar-logo">
        <a href="/"><img class="mlb-logo" src="/pictures/mlb-logo.png" alt="no picture"></a>
      </div>

      <div>
      <a href="/" class="navbar-brand">MLB</a>
      </div>
    </div>

    <!-- THINGS YOU WANT TO COLLAPSE WHEN THE WEBSITE HITS MOBILE SIZE -->
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
        <li><a href="/standings">Standings<i class="fas fa-sort-numeric-down"></i></a> </li>
        <li><a href="/reminders">Search<i class="fas fa-search-plus"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
