<!-- views/nav.ejs -->
<nav id="nav">
  <div class="navbar-web">
    <a class="navbar-links" href="/"><i class="fas fa-home"></i>Home</a>
    <a class="navbar-links" href="/standings"><i class="fas fa-sort-numeric-down"></i>Standings</a>
    <a class="navbar-links" href="/stats"><i class="fas fa-search-plus"></i>Search</a>
    <a class="navbar-links" href="/history"><i class="fas fa-history"></i>History</a>
  </div>
</nav>
