<!-- views/nav.ejs -->
<nav class="navbar navbar-inverse navbar-default">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a href="/" class="navbar-brand">MLB Stats</a>
    </div>

    <!-- THINGS YOU WANT TO COLLAPSE WHEN THE WEBSITE HITS MOBILE SIZE -->
    <div class="collapse navbar-collapse" id="bs-nav-demo">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home<i class="fas fa-home"></i></i></a></li>
        <li><a href="/reminders">Reminders<i class="fas fa-user-clock"></i></a></li>
      </ul>
    </div>

  </div>
</nav>
