<!-- views/nav.ejs -->
<nav id="nav">
  <ul class="listOfLinks">
    <li>
      <a class="navbar-links" href="/"><h4>Home</h4> </i> </a>
    </li>
    <li>
      <a class="navbar-links" href="/standings"><h4>Standings</h4> </a>
    </li>
    <li>
      <a class="navbar-links" href="/stats"><h4>Search</h4> </a>
    </li>
    <li>
      <a class="navbar-links" href="/history"><h4>History</h4> </a>
    </li>
  </ul>
</nav>

