<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>
    <style type="text/css">
      body{
        background-color: #000;
      }
      .error{
        color: #FFF;
        float: left;
        font-size: 40px;
        font-style: italic;
        font-weight: bolder;
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="error">
      <h1>Error 404</h1>
      <hr>
      <h2>Page Not Found</h2>
    </div>


  </body>
</html>
