<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MLB Data</title>
  <%- include('partials/links') %>
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
  <%- include('partials/nav') %>

  <!-- PARTICLE JS -->
    <div id="particles-js"></div>

    <!-- CONTAINER -->
    <div class="container">

      <!-- TEAMS LOGO -->
      <div class="teamsLogo">
        <img class="logo" src="/teamsLogo/arizona.png" alt="">
        <img class="logo" src="/teamsLogo/atlanta braves.png" alt="">
        <img class="logo" src="/teamsLogo/boston.png" alt="">
        <img class="logo" src="/teamsLogo/cardinals.png" alt="">
        <img class="logo" src="/teamsLogo/chicago cubs.png" alt="">
        <img class="logo" src="/teamsLogo/chicago white sox.png" alt="">
        <img class="logo" src="/teamsLogo/cincinati reds.png" alt="">
        <img class="logo" src="/teamsLogo/cleveland indians.png" alt="">
        <img class="logo" src="/teamsLogo/colorado rockies.png" alt="">
        <img class="logo" src="/teamsLogo/detroit tigers.png" alt="">
        <img class="logo" src="/teamsLogo/houston astros.png" alt="">
        <img class="logo" src="/teamsLogo/kansas city royals.png" alt="">
        <img class="logo" src="/teamsLogo/los angeles angels.png" alt="">
        <img class="logo" src="/teamsLogo/los angeles dodgers.png" alt="">
        <img class="logo" src="/teamsLogo/miami marlins.png" alt="">
        <img class="logo" src="/teamsLogo/milwaukee brewers.png" alt="">
        <img class="logo" src="/teamsLogo/minnesota twins.png" alt="">
        <img class="logo" src="/teamsLogo/new york mets.png" alt="">
        <img class="logo" src="/teamsLogo/oakland.png" alt="">
        <img class="logo" src="/teamsLogo/orioles.png" alt="">
        <img class="logo" src="/teamsLogo/philadelphia phillies.png" alt="">
        <img class="logo" src="/teamsLogo/pittsburgh.png" alt="">
        <img class="logo" src="/teamsLogo/san diego padres.png" alt="">
        <img class="logo" src="/teamsLogo/san francisco giants.png" alt="">
        <img class="logo" src="/teamsLogo/seattle mariners.png" alt="">
        <img class="logo" src="/teamsLogo/tampa bay.png" alt="">
        <img class="logo" src="/teamsLogo/texas.png" alt="">
        <img class="logo" src="/teamsLogo/toronto.png" alt="">
        <img class="logo" src="/teamsLogo/washinton nationals.png" alt="">
        <img class="logo" src="/teamsLogo/yankees.png" alt="">
      </div>

    </div>

    <!-- SCRIPTS -->
    <%- include('partials/scripts') %>
      <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>
