<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>MLB</title>
  <%- include('partials/links') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
  <%- include('partials/nav') %>
    <div id="particles-js"></div>

    <div class="container">
      <div class="heading">
        <h1>MLB Teams</h1>
      </div>

      <div class="teamsLogos">
        <img src="/teamsLogo/arizo.png" alt="">
        <img src="/teamsLogo/atlanta braves.png" alt="">
        <img src="/teamsLogo/boston.png" alt="">
        <img src="/teamsLogo/cardinals.png" alt="">
        <img src="/teamsLogo/chicago cubs.png" alt="">
        <img src="/teamsLogo/chicago white sox.png" alt="">
        <img src="/teamsLogo/cincinati reds.png" alt="">
        <img src="/teamsLogo/cleveland indians.png" alt="">
        <img src="/teamsLogo/colorado rockies.png" alt="">
        <img src="/teamsLogo/detroit tigers.png" alt="">
        <img src="/teamsLogo/houston astros.png" alt="">
        <img src="/teamsLogo/kansas city royals.png" alt="">
        <img src="/teamsLogo/los angeles angels.png" alt="">
        <img src="/teamsLogo/los angeles dodgers.png" alt="">
        <img src="/teamsLogo/miami marlins.png" alt="">
        <img src="/teamsLogo/milwaukee brewers.png" alt="">
        <img src="/teamsLogo/minnesota twins.png" alt="">
        <img src="/teamsLogo/new york mets.png" alt="">
        <img src="/teamsLogo/oakland.png" alt="">
        <img src="/teamsLogo/orioles.png" alt="">
        <img src="/teamsLogo/philadelphia phillies.png" alt="">
        <img src="/teamsLogo/pittsburgh.png" alt="">
        <img src="/teamsLogo/san diego padres.png" alt="">
        <img src="/teamsLogo/san francisco giants.png" alt="">
        <img src="/teamsLogo/seattle mariners.png" alt="">
        <img src="/teamsLogo/tampa bay.png" alt="">
        <img src="/teamsLogo/texas.png" alt="">
        <img src="/teamsLogo/toronto.png" alt="">
        <img src="/teamsLogo/washintonnationals.png" alt="">
        <img src="/teamsLogo/yankees.png" alt="">
      </div>

    </div>



    <%- include('partials/scripts') %>
      <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>
