<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MLB</title>
    <%- include('partials/links') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
  </head>
  <body>
    <%- include('partials/nav') %>
    <div id="particles-js">

      <div class="container">
        <div class="heading">
            <h1>Home</h1>
        </div>

      </div>
    </div>


    <%- include('partials/scripts') %>
    <script type="text/javascript" src="/js/home.js"></script>
  </body>
</html>
