<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO 'MLBStats'</h1>
    <h3>Here are the latest news</h3>
  </body>
</html>
