<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Reminders</title>
  <%- include('partials/links') %>
  <link rel="stylesheet" type="text/css" href="/css/reminder.css">
</head>

<body>

  <%- include('partials/nav') %>
    <div id="particles-js">
      <div class="container">

        <div class="header">
          <h1>Reminders</h1>
        </div>

      </div>
    </div>




    <%- include('partials/scripts') %>
    <script type="text/javascript" src="/js/reminder.js"></script>
</body>

</html>
