<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stats</title>
  <%- include('partials/links') %>
  <link rel="stylesheet" type="text/css" href="/css/stats.css">
</head>
<body>
  <%- include('partials/nav') %>
  <div id="particles-js"></div>

  <div class="container">

    <!-- SEARCH BOX -->
    <form class="searchBox" action="/post" method="post">
      <input class="searchInput " type="search" name="search" placeholder="Enter Team's Name">
    </form>

      <!-- TEAM INFO -->
      <table class="team-info">
        <thead>
          <tr>
            <th class="table-header">Name</th>
            <th class="table-header">Market</th>
            <th class="table-header">League</th>
            <th class="table-header">Division</th>
          </tr>
        </thead>
        <tbody class="innerTeamInfo">
        </tbody>
      </table>


      <table class="team-roster">
        <thead>
          <tr>
            <th class="table-header">Player</th>
            <th class="table-header">Team</th>
            <th class="table-header">Pos</th>
            <th class="table-header">Jersey #</th>
          </tr>
        </thead>
        <tbody class="innerPlayerInfo">

        </tbody>
      </table>

    </div>

  <%- include('partials/scripts') %>
  <script type="text/javascript" src="/js/stats.js"></script>
</body>
</html>

<!-- <th class="table-header-ipad">G</th>
<th class="table-header">AB</th>
<th class="table-header-ipadmini">R</th>
<th class="table-header">H</th>
<th class="table-header-ipadmini">2B</th>
<th class="table-header-ipadmini">3B</th>
<th class="table-header">HR</th>
<th class="table-header">RBI</th>
<th class="table-header-ipadmini">BB</th>
<th class="table-header-ipadmini">SO</th>
<th class="table-header-ipadmini">SB</th>
<th class="table-header-mob">AVG</th>
<th class="table-header-web">Throw Hand</th>
<th class="table-header-web">Batting Hand</th>
<th class="table-header-web">Debut</th> -->
