<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stats</title>
  <%- include('partials/links') %>
    <link rel="stylesheet" type="text/css" href="/css/stats.css">
</head>

<body>
  <%- include('partials/nav') %>

    <div id="particles-js"></div>
    <div class="container">

      <div class="header">
        <h1>Stats</h1>
      </div>

      <div class="searchBox">
        <form action="/post" method="post">
          <input class="searchInput " type="search" name="search" placeholder="Enter Team's Name">
        </form>
      </div>

      <div class="team">
        <table class="teamInfo">
          <thead>
            <tr>
              <th>Name</th>
              <th>Market</th>
              <th>League</th>
              <th>Division</th>
            </tr>
          </thead>
          <tbody class="innerTeamInfo">

          </tbody>
        </table>
      </div>

      <div class="player">
        <table class="playersInfo">
          <thead>
            <tr>
              <th>Player</th>
              <th>Team</th>
              <th>Pos</th>
              <th>G</th>
              <th>AB</th>
              <th>R</th>
              <th>H</th>
              <th>2B</th>
              <th>3B</th>
              <th>HR</th>
              <th>RBI</th>
              <th>BB</th>
              <th>SO</th>
              <th>SB</th>
              <th>AVG</th>
              <th>Jersey #</th>
              <th>Throw Hand</th>
              <th>Batting Hand</th>
              <th>Debut</th>
            </tr>
          </thead>
          <tbody class="innerPlayerInfo">

          </tbody>
        </table>
      </div>

    </div>

    <%- include('partials/scripts') %>
      <script type="text/javascript" src="/js/reminder.js"></script>
</body>

</html>
