/* BODY */
body { width: 100%; height: 100%; background: -webkit-linear-gradient(-90deg, #4b6cb7, #182848); background-attachment: fixed; background-size: 100% 100%; position: absolute; }

/* NAV BAR */
.navbar { width: 100%; background-color: #002e6d; position: absolute; z-index: 1; }

/* MLB LOGO */
.mlb-logo { width: 45px; height: 25px; margin: 15px 0; }

/* HEADERS */
.header { width: 100%; color: #FFF;  top: 10%; font-size: 2.3em; position: absolute; }

/* PARTICLE JS */
canvas#particle-js { width: 100% !important; height: 100% !important; background-color: white !important; z-index: 0 !important; position: static !important;  left: 0; top: 0; }
canvas { display: block; position: fixed; z-index: -1; }

/* CONTAINER */
.container { height: 100%; position: relative; }

/* LINKS FOR NAVIGATION */
.navbar-default .navbar-brand, .navbar-default .navbar-nav > .links > a {
  color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > .links > a:hover {
  color: #FFF;
  font-weight: 800;
  box-shadow: 0 0 10px white;
}

.navbarContainer{
  width: 70%;
  padding: 0;
  margin: 0 auto;
}
