/* TEAMS LOGO */
.teamsLogo{ top: 20%; position: absolute; }
/* TEAMS LOGO */
img.logo{ width: 32%; }

.navbar-header{
	display: inline-flex;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbarContainer{
  width: 70%;
  padding: 0;
  margin: 0 auto;
}

.infoHR{
  width: 25%;
}

.hist{
  color: #FFF;
  display: block;
  font-size: 26px;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 0 auto;
}

.fas:hover, p:hover{
  color: red;
}
