body {
  padding: 0;
  margin: 0;
  border: 0;
  background: -webkit-linear-gradient(-90deg, #4b6cb7, #182848);
  background-attachment: fixed;
}

li a i{
  font-size: 25px;
  margin-left: 10px;
}

.navbar {
  height: 25px;
  margin: 0 auto;
  border: 0;
  border: 0;
  background-color: #002e6d;
}

.mlb-logo {
  width: 45px;
  height: 25px;
  margin: 12px 0;
 }

.navbar-header{
	display: inline-flex;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbarContainer{
  width: 70%;
  padding: 0;
  margin: 0 auto;
}

canvas#particle-js {
  background-color: white !important;
  z-index: 0 !important;
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
}

.container {
  height: 100%;
  z-index: 99999;
  position: relative;
}

.header h3{
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

.data-flex{
  color: #000;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  display: block;
}

.infoHR{
  width: 25%;
}

img{
	width: 30%;
	padding: 2%;
	margin: 1.66%;
	float: left;
}
