body {
  padding: 0;
  margin: 0;
  border: 0;
  height: vh;
  background-color: #a6aab2;
}

li a i{
  font-size: 25px;
  margin-left: 10px;
}

.navbar {
  height: 25px;
  margin: 0 auto;
  border: 0;
  border: 0;
  background-color: #002e6d;
}

.mlb-logo {
  width: 45px;
  height: 25px;
  margin: 12px 0;
 }

.navbar-header{
  display: inline-flex;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbarContainer{
  width: 70%;
  padding: 0;
  margin: 0 auto;
}
