
.searchBox {
  margin: 0 auto;
}

.searchBox input {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 5px;
  margin: 1% auto;
}

.player {
  margin: 5% auto;
}

.teamInfo th {
  width: 0.25%;
}

.playersInfo th {
  width: 0.19%;
}

.playersInfo th, .playersInfo td, .teamInfo th, .teamInfo td {
  font-weight: 800;
  padding: 10px;
  border: 1px solid white;
}

th {
  background-color: #dcdcdc;
}
