
.searchBox {
  text-align: center;
}

.searchBox input {
  width: 200px;
  height: 40px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}

.team-info .table-header {
  width: 0.25%;
}

.team-roster {
  margin: 25px auto;
}

@media only screen and (max-width: 1065px) {
  .searchBox{
    background-color: red;
  }
  .team-roster th{
    font-size: 12px;
  }
}

.team-roster th {
  width: 0.19%;
}

.team-roster th, .team-roster td, .team-info .table-header, .team-info td {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
}

th {
  background-color: #dcdcdc;
}
