
.searchBox {
  text-align: center;
}

.searchBox input {
  width: 200px;
  height: 40px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 25px;
}

.team-info .table-header {
  width: 0.25%;
}

.team-roster {
  margin: 25px auto;
}

.team-roster th {
  width: 0.19%;
}

th {
  background-color: #dcdcdc;
}

td {
  background-color: #FFF;
}

.team-roster th, .team-roster td, .team-info .table-header, .team-info td {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
}

@media only screen and (max-width: 1065px) {
  .searchBox{
    background-color: red;
  }
  .team-roster th{
    font-size: 12px;
  }
}

@media only screen and (max-width: 960px) {
  .searchBox{
    background-color: green;
  }
  .team-roster th{
    font-size: 10px;
  }
}

@media only screen and (max-width: 860px) {
  .searchBox{
    background-color: blue;
  }
  .team-roster .table-header-web{
    display: none;
  }
  .team-roster th{
    width: 0.15%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 680px) {
  .searchBox{
    background-color: orange;
  }
  .team-roster .table-header-ipadmini{
    display: none;
  }
  .team-roster th{
    width: 0.09%;
  }
}

@media only screen and (max-width: 460px) {
  .searchBox{
    background-color: purple;
  }
  .team-roster .table-header-ipad{
    display: none;
  }
  .team-roster th{
    width: 0.08%;
  }
}

@media only screen and (max-width: 420px) {
  .searchBox{
    background-color: black;
  }
  .team-roster .table-header{
    display: none;
  }
  .team-roster th{
    width: 0.25%;
  }
}
